{% extends 'base.html.twig' %}

{% block title %}{{ produit.titre }}{% endblock %}

{% block body %}
    <section class="pageBannerSection">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pageBannerContent text-left">
                        <div class="pageBannerPath">
                            <a href="{{ absolute_url(path('app_home')) }}">Accueil</a>&nbsp;&nbsp;>&nbsp;&nbsp;
                            <a href="{{ path('app_frontend_famille_index', {'famille': categorie.famille.slug }) }}">{{ categorie.famille.titre }}</a> >&nbsp;
                            <a href="{{ path('app_frontend_famille_categorie', {'famille': categorie.famille.slug, 'genre': genre.slug, 'slug': categorie.slug}) }}">{{ categorie.titre }}</a> >&nbsp;
                            <span>{{ produit.titre }}</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="shopDetailsPageSection">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="productGalleryWrap">
                        <div class="productGallery">
                            <div class="pgImage">
                                <img src="{{ absolute_url(asset('uploads/produit/' ~ produit.media)) }}" alt="{{ produit.titre }}"/>
                            </div>
                            {% for image in produit.images %}
                                <div class="pgImage">
                                    <img src="{{ asset('uploads/produit/' ~ image.media) }}" alt="{{ produit.titre }}"/>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="productGalleryThumbWrap">
                            <div class="productGalleryThumb">
                                <div class="pgtImage">
                                    <img src="{{ absolute_url(asset('uploads/produit/' ~ produit.media)) }}" alt="{{ produit.titre }}"/>
                                </div>
                                {% for image in produit.images %}
                                    <div class="pgImage">
                                        <img src="{{ asset('uploads/produit/' ~ image.media) }}" alt="{{ produit.titre }}"/>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="productContent">
                        <div class="pcCategory">
                            {% for categorie in produit.categorie %}
                                {% if loop.last %}
                                    <a href="{{ path('app_frontend_famille_categorie', {'famille': categorie.famille.slug, 'genre': genre.slug, 'slug': categorie.slug}) }}">{{ categorie.titre }}</a>
                                {% else %}
                                    <a href="">{{ categorie.titre }}</a>, &nbsp;
                                {% endif %}
                            {% endfor %}
                        </div>
                        <h2>{{ produit.titre }}</h2>
                        <div class="pi01Price">
                            {% if produit.cfaSolde %}
                                <ins>{{ produit.cfaSolde }} FCFA</ins>
                                <del>{{ produit.cfaPrix }} FCFA</del>
                            {% else %}
                                <ins>{{ produit.cfaPrix }} FCFA</ins>
                            {% endif %}
                        </div>
                        <div class="productRadingsStock clearfix">
                            <div class="productStock float-end">
                                <span>Disponibilité :</span> oui
                            </div>
                        </div>
                        <div class="pcExcerpt">
                            {{ produit.description|slice(0,155)|raw }}
                        </div>

                        <div class="pcBtns">
                            <button type="submit" class="ulinaBTN"><span>Ajouter au panier</span></button>
                            <!--<a href="{{ path('app_frontend_panier_ajout', {'slug': produit.slug}) }}" class="ulinaBTN"><span>Ajouter au panier</span></a>-->
                        </div>
                        <div class="pcMeta">
                            <p>
                                <span>Ref : </span> &nbsp;
                                <a href="javascript:void(0);">{{ produit.reference }}</a>
                            </p>
                            <p>
                                <span>Taille : </span> &nbsp;
                                <a href="javascript:void(0);">{{ produit.taille }}</a>
                            </p>
                            <p class="pcmTags">
                                <span>Tags:</span> {{ produit.tags|join(',') }}
                                {% for tag in produit.tags|join(',') %}
                                    {% if loop.last %}
                                        <a href="javascript:void(0);">{{ tag }}</a>
                                    {% else %}
                                        <a href="">{{ tag }}</a>, &nbsp;
                                    {% endif %}
                                {% endfor %}
                            </p>
                            <p class="pcmSocial">
                                <span>Partager</span>
                                <a class="fac" href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                                <a class="twi" href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                                <a class="lin" href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                                <a class="ins" href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row productTabRow">
                <div class="col-lg-12">
                    <ul class="nav productDetailsTab" id="productDetailsTab" role="tablist">
                        <li role="presentation">
                            <button class="active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">Description</button>
                        </li>
                        <li role="presentation">
                            <button id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="reviews" aria-selected="false" tabindex="-1">Avis</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="desInfoRev_content">
                        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab" tabindex="0">
                            <div class="productDescContentArea">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="descriptionContent">
                                            {{ produit.description|raw }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab" tabindex="0">
                            <div class="productReviewArea">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <!--<h3>10 Reviews</h3>
                                        <div class="reviewList">
                                            <ol>
                                                <li>
                                                    <div class="postReview">
                                                        <img src="images/author/7.jpg" alt="Post Review">
                                                        <h2>Greaet product. Packaging was also good!</h2>
                                                        <div class="postReviewContent">
                                                            Desectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore ma na alihote pare ei gansh es gan quim veniam, quis nostr udg exercitation ullamco laboris nisi ut aliquip
                                                        </div>
                                                        <div class="productRatingWrap">
                                                            <div class="star-rating"><span></span></div>
                                                        </div>
                                                        <div class="reviewMeta">
                                                            <h4>John Manna</h4>
                                                            <span>on June 10, 2022</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="postReview">
                                                        <img src="images/author/8.jpg" alt="Post Review">
                                                        <h2>The item is very comfortable and soft!</h2>
                                                        <div class="postReviewContent">
                                                            Desectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore ma na alihote pare ei gansh es gan quim veniam, quis nostr udg exercitation ullamco laboris nisi ut aliquip
                                                        </div>
                                                        <div class="productRatingWrap">
                                                            <div class="star-rating"><span></span></div>
                                                        </div>
                                                        <div class="reviewMeta">
                                                            <h4>Robert Thomas</h4>
                                                            <span>on June 10, 2022</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="postReview">
                                                        <img src="images/author/9.jpg" alt="Post Review">
                                                        <h2>I liked the product, it is awesome.</h2>
                                                        <div class="postReviewContent">
                                                            Desectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore ma na alihote pare ei gansh es gan quim veniam, quis nostr udg exercitation ullamco laboris nisi ut aliquip
                                                        </div>
                                                        <div class="productRatingWrap">
                                                            <div class="star-rating"><span></span></div>
                                                        </div>
                                                        <div class="reviewMeta">
                                                            <h4>Ken Williams</h4>
                                                            <span>on June 10, 2022</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ol>
                                        </div>-->
                                    </div>
                                    <div class="col-lg-6">
                                        <!--<div class="commentFormArea">
                                            <h3>Votre avis</h3>
                                            <div class="reviewFrom">
                                                <form method="post" action="#" class="row">
                                                    <div class="col-lg-12">
                                                        <div class="reviewStar">
                                                            <label>Your Rating</label>
                                                            <div class="rsStars"><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <input type="text" name="comTitle" placeholder="Review title">
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <textarea name="comComment" placeholder="Write your review here"></textarea>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" name="comName" placeholder="Your name">
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="email" name="comEmail" placeholder="Your email">
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <button type="submit" name="reviewtSubmit" class="ulinaBTN"><span>Submit Now</span></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if similaires %}
                <div class="row relatedProductRow">
                    <div class="col-lg-12">
                        <h2 class="secTitle">Articles similaires</h2>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="productCarousel owl-carousel">
                                    {% for similaire in similaires %}
                                        <div class="productItem01">
                                            <div class="pi01Thumb">
                                                <img src="{{ absolute_url(asset('uploads/produit/'~ similaire.media)) }}" alt="{{ similaire.titre }}"/>
                                                <img src="{{ absolute_url(asset('uploads/produit/'~ similaire.media)) }}" alt="{{ similaire.titre }}"/>
                                                <div class="pi01Actions">
                                                    <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                                    <a href="{{ absolute_url(path('app_frontend_produit', {'slug': produit.slug})) }}"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                                </div>
                                                {% if produit.promotion %}
                                                    <div class="productLabels clearfix">
                                                        <span class="plSale">Promotion</span>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="pi01Details">
                                                <h3><a href="{{ absolute_url(path('app_frontend_produit', {'slug': produit.slug})) }}">{{ produit.titre }}</a></h3>
                                                <div class="pi01Price">
                                                    {% if produit.cfaSolde %}
                                                        <ins>{{ produit.cfaSolde }} FCFA</ins>
                                                        <del>{{ produit.cfaPrix }} FCFA</del>
                                                    {% else %}
                                                        <ins>{{ produit.cfaPrix }} FCFA</ins>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

