{% extends 'base.html.twig' %}

{% block title %}{{ famille.titre }}{% endblock %}

{% block body %}
    <section class="pageBannerSection">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pageBannerContent text-left">
                        <div class="pageBannerPath">
                            <a href="{{ absolute_url(path('app_home')) }}">Accueil</a>&nbsp;&nbsp;>&nbsp;&nbsp;<span>{{ famille.titre }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="collectionsSections">
        <div class="container">
            <div class="row collectionRow">
                <div class="col-md-12">
                    <h2 class="secTitle">{{ famille.titre }}</h2>
                    <p class="secDesc">{{ famille.description|raw }}</p>
                </div>
            </div>
            <div class="row collectionProductRow">
                {% for produit in produits %}
                    <div class="col-sm-6 col-lg-4 col-xl-3">
                        <div class="productItem01">
                            <div class="pi01Thumb">
                                <img src="{{ absolute_url(asset('uploads/produit/' ~ produit.media) )}}" alt="{{ produit.titre }}"/>
                                <img src="{{ absolute_url(asset('uploads/produit/' ~ produit.media) )}}" alt="{{ produit.titre }}"/>
                                <div class="pi01Actions">
                                    <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                    <a href="#" class="pi01QuickView">
                                        <i class="fa-solid fa-arrows-up-down-left-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="pi01Details">
                                <h3><a href="shop_details2.html">{{ produit.titre }}</a></h3>
                                <div class="pi01Price">
                                    {% if produit.cfaSolde %}
                                        <ins>{{ produit.cfaSolde ? produit.cfaSolde|number_format(0,'','.') }} FCFA</ins>
                                        <del>{{ produit.cfaPrix|number_format(0,'','.') }} FCFA</del>
                                    {% else %}
                                        <ins>{{ produit.cfaPrix|number_format(0,'','.') }} FCFA</ins>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>



{% endblock %}


