{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
    <section class="sliderSection02">
        <div class="rev_slider_wrapper">
            <div id="rev_slider_2" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
                <ul>
                    {% for slide in slides %}
                        <li data-index="rs-{{ loop.index }}" data-transition="random-premium" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1000"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <img src="{{ asset('uploads/slide/'~ slide.media) }}" alt="{{ slide.titre }}"  data-bgposition="left center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="0" class="rev-slidebg" data-no-retina/>
                            <div class="tp-caption jost"
                                 data-x="['center','center','center','center']"
                                 data-hoffset="['0','0','0','0']"

                                 data-y="['middle','middle','middle','middle']"
                                 data-voffset="['-165','-165','-145','-50']"

                                 data-fontsize="['21','21','21','21']"
                                 data-fontweight="['500','500','500','500']"
                                 data-lineheight="['21','21','21','21']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-color="['#ffffff','#ffffff','#ffffff','#ffffff']"

                                 data-type="text"
                                 data-responsive_offset="off"

                                 data-frames='[{"delay":1100,"speed":400,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"power4.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'

                                 data-textAlign="['center','center','center','center']"
                                 data-paddingtop="['0','0','0','0']"
                                 data-paddingright="['0','0','0','0']"
                                 data-paddingbottom="['0','0','0','0']"
                                 data-paddingleft="['0','0','0','0']"
                                 data-marginleft="['0','0','0','0']"

                            >{{ slide.description|raw }}</div>
                            <div class="tp-caption jost textLayer"
                                 data-x="['center','center','center','center']"
                                 data-hoffset="['0','0','0','0']"

                                 data-y="['middle','middle','middle','middle']"
                                 data-voffset="['-37','-37','-17','0']"

                                 data-fontsize="['90','90','65','45']"
                                 data-fontweight="['400','400','400','400']"
                                 data-lineheight="['102','102','77','57']"
                                 data-width="['700','700','100%','100%']"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-color="['#ffffff','#ffffff','#ffffff','#ffffff']"

                                 data-type="text"
                                 data-responsive_offset="off"

                                 data-frames='[{"delay":1200,"speed":500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"power4.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'

                                 data-textAlign="['center','center','center','center']"
                                 data-paddingtop="['0','0','0','0']"
                                 data-paddingright="['0','0','30','30']"
                                 data-paddingbottom="['0','0','0','0']"
                                 data-paddingleft="['0','0','30','30']"
                                 data-marginleft="['0','0','0','0']"

                            >{{ slide.titre }}</div>
                            <div class="tp-caption ws_nowrap textLayer"
                                 data-x="['center','center','center','center']"
                                 data-hoffset="['0','0','0','0']"

                                 data-y="['middle','middle','middle','middle']"
                                 data-voffset="['144','144','134','80']"

                                 data-fontsize="16"
                                 data-fontweight="500"
                                 data-lineheight="55"
                                 data-width="['auto','auto','100%','100%']"
                                 data-height="auto"
                                 data-whitesapce="normal"
                                 data-color="#FFFFFF"

                                 data-type="text"
                                 data-responsive_offset="off"

                                 data-frames='[{"delay":1300,"speed":600,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"power4.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'

                                 data-textAlign="['center','center','center','center']"
                                 data-paddingtop="['0','0','0','0']"
                                 data-paddingright="['0','0','0','0']"
                                 data-paddingbottom="['0','0','0','0']"
                                 data-paddingleft="['0','0','0','0']"

                            ><a class="ulinaBTN ulinaSliderBTN text-capitalize" href="{{ slide.lien }}"><span>Voir détails</span></a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

    <section class="featureSection">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </section>

    <section class="latestArrivalSection">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="secTitle">En promotion</h2>
                    <p class="secDesc">Nos nouveautés </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="productCarousel owl-carousel">
                        {% for promotion in promotions %}
                            <div class="productItem01 pi01NoRating">
                                <div class="pi01Thumb">
                                    <img src="{{ absolute_url(asset('uploads/produit/' ~ promotion.media)) }}" alt="{{ promotion.titre }}"/>
                                    <img src="https://via.placeholder.com/150" alt="Ulina Product"/>
                                    <div class="pi01Actions">
                                        <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                        <a href="{{ absolute_url(path('app_frontend_produit', {'slug': promotion.slug})) }}"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                    </div>
                                    <div class="productLabels clearfix">
                                        <span class="plDis">Promo</span>
                                        {% if date(promotion.createdAt) > date('-30days') %}
                                            <span class="plSale">Nouveau</span>
                                        {% endif %}

                                    </div>
                                </div>
                                <div class="pi01Details">
                                    <h3><a href="{{ path('app_frontend_produit', {'slug': promotion.slug}) }}">{{ promotion.titre }}</a></h3>
                                    <div class="pi01Price">
                                        {% if promotion.cfaSolde %}
                                            <ins>{{ promotion.cfaSolde|number_format(0,'','.') }} FCFA</ins>
                                            <del>{{ promotion.cfaPrix|number_format(0,'','.') }} FCFA</del>
                                        {% else %}
                                            <ins>{{ promotion.cfaPrix|number_format(0,'','.') }} FCFA</ins>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="dealProductSection">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="dealProductContent">
                        <h5>By Cha Kane</h5>
                        <h2>Terre d'Afrique</h2>
                        <p>
                            "<strong>Terre d'Afrique</strong>" est une collection d'accessoires créée à base de pagnes tissés provenant
                            provenant de différentes régions de l'Afrique et principalement de la Côte d'Ivoire
                            <strong>(pagne sénoufou du nord, pagne baoulé du centre et pagne yacouba de l'ouest)</strong>
                        </p>
                        <div class="dpcPriceWrap">
                            <a href="javascript:void(0);" class="ulinaBTN"><span>La collection</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="dealProductImage">
                        <img src="https://via.placeholder.com/350" alt="Ulima Fashionable Jeans"/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="popularProductsSection">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="secTitle">En boutique</h2>
                    <p class="secDesc">Articles et accessoires en boutique</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="productTabs">
                        <ul class="nav productTabsNav absolutes" id="productTab" role="tablist">
                            <li role="presentation">
                                <button class="active"  id="women-tab" data-bs-toggle="tab" data-bs-target="#women-tab-pane" type="button" role="tab" aria-controls="women-tab-pane" aria-selected="false">Femmes</button>
                            </li>
                            <li role="presentation">
                                <button id="men-tab" data-bs-toggle="tab" data-bs-target="#men-tab-pane" type="button" role="tab" aria-controls="men-tab-pane" aria-selected="true">Hommes</button>
                            </li>
                            <li role="presentation">
                                <button id="accessories-tab" data-bs-toggle="tab" data-bs-target="#accessories-tab-pane" type="button" role="tab" aria-controls="accessories-tab-pane" aria-selected="false">Accessoires</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="productTabContent">
                            <div class="tab-pane fade show active" id="women-tab-pane" role="tabpanel" aria-labelledby="women-tab" tabindex="0">
                                <div class="row">
                                    {% for femme in femmes|slice(0,8) %}
                                        <div class="col-sm-6 col-lg-4 col-xl-3">
                                            <div class="productItem01">
                                                <div class="pi01Thumb">
                                                    <img src="{{ absolute_url(asset('uploads/produit/' ~ femme.media)) }}" alt="{{ femme.titre }}"/>
                                                    <img src="{{ absolute_url(asset('uploads/produit/' ~ femme.media)) }}" alt="{{ femme.titre }}"/>
                                                    <div class="pi01Actions">
                                                        <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                                        <a href="{{ absolute_url(path('app_frontend_produit', {'slug': femme.slug})) }}><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                                    </div>
                                                    <div class="productLabels clearfix">
                                                        {% if femme.promotion %}
                                                            <span class="plDis">Promotion</span>
                                                        {% endif %}
                                                        {% if date(femme.createdAt) > date('-30days') %}
                                                            <span class="plSale">nouveauté</span>
                                                        {% endif %}

                                                    </div>
                                                </div>
                                                <div class="pi01Details">
                                                    <h3><a href="{{ absolute_url(path('app_frontend_produit', {'slug': femme.slug})) }}">{{ femme.titre }}</a></h3>
                                                    <div class="pi01Price">
                                                        {% if femme.cfaSolde %}
                                                            <ins>{{ femme.cfaSolde|number_format(0,'','.') }} FCFA</ins>
                                                            <del>{{ femme.cfaPrix|number_format(0,'','.') }} FCFA</del>
                                                        {% else %}
                                                            <ins>{{ femme.cfaPrix|number_format(0,'','.') }} FCFA</ins>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="men-tab-pane" role="tabpanel" aria-labelledby="men-tab" tabindex="0">
                                <div class="row">
                                    {% for homme in hommes|slice(0,8) %}
                                        <div class="col-sm-6 col-lg-4 col-xl-3">
                                            <div class="productItem01">
                                                <div class="pi01Thumb">
                                                    <img src="{{ absolute_url(asset('uploads/produit/' ~ homme.media)) }}" alt="{{ homme.titre }}"/>
                                                    <img src="{{ absolute_url(asset('uploads/produit/' ~ homme.media)) }}" alt="{{ homme.titre }}"/>
                                                    <div class="pi01Actions">
                                                        <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                                        <a href="{{ absolute_url(path('app_frontend_produit', {'slug': homme.slug})) }}"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                                    </div>
                                                    <div class="productLabels clearfix">
                                                        {% if homme.promotion %}
                                                            <span class="plDis">Promotion</span>
                                                        {% endif %}
                                                        {% if date(homme.createdAt) > date('-30days') %}
                                                            <span class="plSale">nouveauté</span>
                                                        {% endif %}

                                                    </div>
                                                </div>
                                                <div class="pi01Details">
                                                    <h3><a href="{{ absolute_url(path('app_frontend_produit', {'slug': homme.slug})) }}">{{ homme.titre }}</a></h3>
                                                    <div class="pi01Price">
                                                        {% if homme.cfaSolde %}
                                                            <ins>{{ homme.cfaSolde|number_format(0,'','.') }} FCFA</ins>
                                                            <del>{{ homme.cfaPrix|number_format(0,'','.') }} FCFA</del>
                                                        {% else %}
                                                            <ins>{{ homme.cfaPrix|number_format(0,'','.') }} FCFA</ins>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="accessories-tab-pane" role="tabpanel" aria-labelledby="accessories-tab" tabindex="0">
                                <div class="row">
                                    {% for accessoire in accessoires|slice(0,8) %}
                                        <div class="col-sm-6 col-lg-4 col-xl-3">
                                            <div class="productItem01">
                                                <div class="pi01Thumb">
                                                    <img src="{{ absolute_url(asset('uploads/produit/' ~ accessoire.media)) }}" alt="{{ accessoire.titre }}"/>
                                                    <img src="{{ absolute_url(asset('uploads/produit/' ~ accessoire.media)) }}" alt="{{ accessoire.titre }}"/>
                                                    <div class="pi01Actions">
                                                        <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                                        <a href="{{ absolute_url(path('app_frontend_produit', {'slug': accessoire.slug})) }}" ><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                                    </div>
                                                    <div class="productLabels clearfix">
                                                        {% if accessoire.promotion %}
                                                            <span class="plDis">Promotion</span>
                                                        {% endif %}
                                                        {% if date(accessoire.createdAt) > date('-30days') %}
                                                            <span class="plSale">nouveauté</span>
                                                        {% endif %}

                                                    </div>
                                                </div>
                                                <div class="pi01Details">
                                                    <h3><a href="{{ absolute_url(path('app_frontend_produit', {'slug': accessoire.slug})) }}">{{ accessoire.titre }}</a></h3>
                                                    <div class="pi01Price">
                                                        {% if accessoire.cfaSolde %}
                                                            <ins>{{ accessoire.cfaSolde|number_format(0,'','.') }} FCFA</ins>
                                                            <del>{{ accessoire.cfaPrix|number_format(0,'','.') }} FCFA</del>
                                                        {% else %}
                                                            <ins>{{ accessoire.cfaPrix|number_format(0,'','.') }} FCFA</ins>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="lookbookSection2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="lookBook01 lb01M6 overLayAnim02">
                        <div class="lbContent">
                            <h3>Cas 1</h3>
                            <h2>Même région</h2>
                            <a href="javascript:void(0);" class="ulinaLink"><i class="fa-solid fa-angle-right"></i>Acheter</a>
                        </div>
                        <img src="https://via.placeholder.com/150" alt="Women’s New Collection">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="lookBook01 lb01M6 overLayAnim02">
                        <div class="lbContent">
                            <h3>Cas 2</h3>
                            <h2>Différentes régions</h2>
                            <a href="javascript:void(0);" class="ulinaLink"><i class="fa-solid fa-angle-right"></i>Acheter</a>
                        </div>
                        <img src="https://via.placeholder.com/150" alt="Men’s Trendy Fashion">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="instagramSection">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="secTitle">Festival   </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="instagramSlider owl-carousel">
                        <a href="https://via.placeholder.com/750" class="instagramPhoto imgPopup">
                            <img src="https://via.placeholder.com/150" alt="Ulina Instagram"/>
                        </a>
                        <a href="https://via.placeholder.com/750" class="instagramPhoto imgPopup">
                            <img src="https://via.placeholder.com/150" alt="Ulina Instagram"/>
                        </a>
                        <a href="https://via.placeholder.com/750" class="instagramPhoto imgPopup">
                            <img src="https://via.placeholder.com/150" alt="Ulina Instagram"/>
                        </a>
                        <a href="https://via.placeholder.com/750" class="instagramPhoto imgPopup">
                            <img src="https://via.placeholder.com/150" alt="Ulina Instagram"/>
                        </a>
                        <a href="https://via.placeholder.com/750" class="instagramPhoto imgPopup">
                            <img src="https://via.placeholder.com/150" alt="Ulina Instagram"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->

    <div class="modal fade productQuickView" id="productQuickView" tabindex="-1" data-aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="quickViewCloser" data-bs-dismiss="modal" aria-label="Close"><span></span></button>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="productGalleryWrap">
                                <div class="productGalleryPopup">
                                    <div class="pgImage">
                                        <img src="{{ asset('assets/images/sac/24-2.jpg') }}" alt="Product Image"/>
                                    </div>
                                    <div class="pgImage">
                                        <img src="images/sac/24.jpg" alt="Product Image"/>
                                    </div>
                                    <div class="pgImage">
                                        <img src="images/sac/25-2.jpg" alt="Product Image"/>
                                    </div>
                                    <div class="pgImage">
                                        <img src="images/sac/25.jpg" alt="Product Image"/>
                                    </div>
                                    <div class="pgImage">
                                        <img src="images/sac/23.jpg" alt="Product Image"/>
                                    </div>
                                </div>
                                <div class="productGalleryThumbWrap">
                                    <div class="productGalleryThumbPopup">
                                        <div class="pgtImage">
                                            <img src="images/sac/24-2.jpg" alt="Product Image"/>
                                        </div>
                                        <div class="pgtImage">
                                            <img src="images/sac/24.jpg" alt="Product Image"/>
                                        </div>
                                        <div class="pgtImage">
                                            <img src="images/sac/25-2.jpg" alt="Product Image"/>
                                        </div>
                                        <div class="pgtImage">
                                            <img src="images/sac/25.jpg" alt="Product Image"/>
                                        </div>
                                        <div class="pgtImage">
                                            <img src="images/sac/23.jpg" alt="Product Image"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="productContent">
                                <div class="pcCategory">
                                    <a href="javascript:void(0);">Accessoires</a>, <a href="javascript:void(0);">Sac</a>
                                </div>
                                <h2><a href="javascript:void(0);">Sac 1</a></h2>
                                <div class="pi01Price">
                                    <ins>10.000 FCFA</ins>
                                    <del>20.000 FCFA</del>
                                </div>
                                <div class="pcExcerpt">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusncididunt ut labo re et dolore magna aliqua. Ut enim ad minim
                                    veniam
                                </div>
                                <div class="pcBtns">
                                    <div class="quantity clearfix">
                                        <button type="button" name="btnMinus" class="qtyBtn btnMinus">_</button>
                                        <input type="number" class="carqty input-text qty text" name="quantity" value="01">
                                        <button type="button" name="btnPlus" class="qtyBtn btnPlus">+</button>
                                    </div>
                                    <button type="submit" class="ulinaBTN"><span>Ajouter au panier</span></button>
                                </div>
                                <div class="pcMeta">
                                    <p>
                                        <span>Reférence</span>
                                        <a href="javascript:void(0);">3489 JE0765</a>
                                    </p>
                                    <p class="pcmTags">
                                        <span>Tags:</span>
                                        <a href="javascript:void(0);">Accessoires</a>, <a href="javascript:void(0);">Sacs</a>, <a href="javascript:void(0);">Femme</a>
                                    </p>
                                    <p class="pcmSocial">
                                        <span>Partager</span>
                                        <a class="fac" href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a>
                                        <a class="twi" href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a>
                                        <a class="lin" href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a>
                                        <a class="ins" href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}