<!DOCTYPE html>
<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Terre d'Afrique</title>
    <meta name="description" content="Terre d'Afrique est une collection d'accessoires créée à base de pagnes tissés provenant provenant de différentes régions de l'Afrique et principalement de la Côte d'Ivoire">
    <meta name="keywords" content="">
    <meta name="author" content="Delrodie AMOIKON">
    <meta property="og:image" content="http://terredafrique.esthetelab.com/images/logo_02.png" />

    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/fontawesome-all.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/lightcase.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/settings.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/ulina-icons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/ignore_for_wp.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/preset.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/responsive.min.css') }}">

    <link rel="icon"  type="image/png" href="images/favico.png">
</head>
<body>

<section class="topbarSection">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-6">
                <div class="tbInfo">
                    <i class="fa-solid fa-bolt-lightning"></i> Collection Terre d'Afrique
                </div>
            </div>
            <div class="col-sm-4 col-md-6">
                <div class="tbAccessNav">
                    <div class="anSocial">
                        <a class="fac" href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a>
                        <a class="twi" href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a>
                        <a class="lin" href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a class="ins" href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                    <div class="anSelects">
                        <div class="anSelect">
                            <select name="currency">
                                <option value="XOF">CFA</option>
                                <option value="USD">USD</option>
                                <option value="EUR">EUR</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"><div class="col-lg-12"><div class="tbBar"></div></div></div>
    </div>
</section>

<header class="header01 h01Mode2 isSticky">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="headerInner02">
                    <div class="logo">
                        <a href="index.html">
                            <img src="images/logo_02.png" alt="Ulina"/>
                        </a>
                    </div>
                    <div class="mainMenu">
                        <ul>
                            <li><a href="javascript:void(0);">Accueil</a></li>
                            <li><a href="#">La marque</a></li>
                            <li class="menu-item-has-children">
                                <a href="javascript:void(0);">Vêtements</a>
                                <div class="megaMenu">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <h3>Femmes</h3>
                                            <ul>
                                                <li><a href="#">Tout</a></li>
                                                <li><a href="#">Robes</a></li>
                                                <li><a href="#">Jupes</a></li>

                                                <h3 style="margin-top: 25px">Fillettes</h3>
                                                <ul>
                                                    <li><a href="#">Tout</a></li>
                                                </ul>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4">
                                            <h3>Hommes</h3>
                                            <ul>
                                                <li><a href="#">Tout</a></li>
                                                <li><a href="#">Chemises</a></li>
                                            </ul>
                                            <h3 style="margin-top: 25px">Garçons</h3>
                                            <ul>
                                                <li><a href="#">Tout</a></li>
                                                <li><a href="#">Chemises</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 hideOnMobile">
                                            <div class="lookBook01 lb01M2">
                                                <div class="lbContent">
                                                    <h3>COLLECTIONS</h3>
                                                    <h2>Terre d'Afrique</h2>
                                                    <a href="#" class="ulinaLink">
                                                        <i class="fa-solid fa-angle-right"></i>Toutes les collections
                                                    </a>
                                                </div>
                                                <img src="images/collection/collection.png" alt="Mans Latest Collection">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="javascript:void(0);">Sacs & accessoires</a>
                                <ul>
                                    <li><a href="#">Sacs</a></li>
                                    <li><a href="#">Accesoires</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contacts</a></li>
                        </ul>
                    </div>
                    <div class="accessNav">
                        <a href="javascript:void(0);" class="menuToggler"><i class="fa-solid fa-bars"></i> <span>Menu</span></a>
                        <div class="anItems">
                            <div class="anSearch"><a href="javascript:void(0);"><i class="fa-solid fa-search"></i></a></div>
                            <div class="anUser"><a href="javascript:void(0);"><i class="fa-solid fa-user"></i></a></div>
                            <div class="anCart">
                                <a href="javascript:void(0);"><i class="fa-solid fa-shopping-cart"></i><span>3</span></a>
                                <div class="cartWidgetArea">
                                    <div class="cartWidgetProduct">
                                        <img src="images/collection/01.png" alt="Marine Design">
                                        <a href="shop_details2.html">Sac 1</a>
                                        <div class="cartProductPrice clearfix">
                                            <span class="price"><span>50.000 <span>FCFA</span></span></span>
                                        </div>
                                        <a href="javascript:void(0);" class="cartRemoveProducts"><i class="fa-solid fa-xmark"></i></a>
                                    </div>
                                    <div class="cartWidgetProduct">
                                        <img src="images/collection/02.png" alt="Draped Neck">
                                        <a href="shop_details1.html">Sac 2</a>
                                        <div class="cartProductPrice clearfix">
                                            <span class="price"><span>45.000 <span>FCFA</span></span></span>
                                        </div>
                                        <a href="javascript:void(0);" class="cartRemoveProducts"><i class="fa-solid fa-xmark"></i></a>
                                    </div>
                                    <div class="cartWidgetProduct">
                                        <img src="images/collection/03.png" alt="Long Pleated">
                                        <a href="shop_details2.html">Sac en bandoulière</a>
                                        <div class="cartProductPrice clearfix">
                                            <span class="price"><span>43.000 <span> FCFA</span></span></span>
                                        </div>
                                        <a href="javascript:void(0);" class="cartRemoveProducts"><i class="fa-solid fa-xmark"></i></a>
                                    </div>
                                    <div class="totalPrice">Total: <span class="price"><span>133.000  <span>FCFA</span></span></span></div>
                                    <div class="cartWidgetBTN clearfix">
                                        <a class="cart" href="cart.html">Panier</a>
                                        <a class="checkout" href="checkout.html">Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="blankHeader"></div>

<section class="popup_search_sec">
    <div class="popup_search_overlay"></div>
    <div class="pop_search_background">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="popup_logo">
                        <a href="index.html"><img src="images/logo_02.png" alt="Ulina"></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <a href="javascript:void(0);" id="search_Closer" class="search_Closer"></a>
                </div>
            </div>
        </div>
        <div class="middle_search">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="popup_search_form">
                            <form method="get" action="#">
                                <input type="search" name="s" id="s" placeholder="Entrez les mots concernés ...">
                                <button type="submit"><i class="fa-solid fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sliderSection02">
    <div class="rev_slider_wrapper">
        <div id="rev_slider_2" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
            <ul>
                <li data-index="rs-3046" data-transition="random-premium" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1000"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <img src="images/slider/01.jpg"  alt="Souq Slider"  data-bgposition="left center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="0" class="rev-slidebg" data-no-retina/>
                    <div class="tp-caption jost"
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']"

                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['-165','-165','-145','-50']"

                         data-fontsize="['21','21','21','21']"
                         data-fontweight="['500','500','500','500']"
                         data-lineheight="['21','21','21','21']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-color="['#ffffff','#ffffff','#ffffff','#ffffff']"

                         data-type="text"
                         data-responsive_offset="off"

                         data-frames='[{"delay":1100,"speed":400,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"power4.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'

                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="['0','0','0','0']"
                         data-paddingright="['0','0','0','0']"
                         data-paddingbottom="['0','0','0','0']"
                         data-paddingleft="['0','0','0','0']"
                         data-marginleft="['0','0','0','0']"

                    >Terre d'Afrique</div>
                    <div class="tp-caption jost textLayer"
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']"

                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['-37','-37','-17','0']"

                         data-fontsize="['90','90','65','45']"
                         data-fontweight="['400','400','400','400']"
                         data-lineheight="['102','102','77','57']"
                         data-width="['700','700','100%','100%']"
                         data-height="none"
                         data-whitespace="normal"
                         data-color="['#ffffff','#ffffff','#ffffff','#ffffff']"

                         data-type="text"
                         data-responsive_offset="off"

                         data-frames='[{"delay":1200,"speed":500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"power4.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'

                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="['0','0','0','0']"
                         data-paddingright="['0','0','30','30']"
                         data-paddingbottom="['0','0','0','0']"
                         data-paddingleft="['0','0','30','30']"
                         data-marginleft="['0','0','0','0']"

                    >Robes</div>
                    <div class="tp-caption ws_nowrap textLayer"
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']"

                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['144','144','134','80']"

                         data-fontsize="16"
                         data-fontweight="500"
                         data-lineheight="55"
                         data-width="['auto','auto','100%','100%']"
                         data-height="auto"
                         data-whitesapce="normal"
                         data-color="#FFFFFF"

                         data-type="text"
                         data-responsive_offset="off"

                         data-frames='[{"delay":1300,"speed":600,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"power4.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'

                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="['0','0','0','0']"
                         data-paddingright="['0','0','0','0']"
                         data-paddingbottom="['0','0','0','0']"
                         data-paddingleft="['0','0','0','0']"

                    ><a class="ulinaBTN ulinaSliderBTN text-capitalize" href="shop_full_width.html"><span>Voir détails</span></a>
                    </div>
                </li>
                <li data-index="rs-3047" data-transition="random-premium" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1000"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <img src="images/slider/05.jpg"  alt="Souq Slider"  data-bgposition="left center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="0" class="rev-slidebg" data-no-retina/>
                    <div class="tp-caption jost"
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']"

                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['-165','-165','-145','-50']"

                         data-fontsize="['21','21','21','21']"
                         data-fontweight="['500','500','500','500']"
                         data-lineheight="['21','21','21','21']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-color="['#ffffff','#ffffff','#ffffff','#ffffff']"

                         data-type="text"
                         data-responsive_offset="off"

                         data-frames='[{"delay":1100,"speed":400,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"power4.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'

                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="['0','0','0','0']"
                         data-paddingright="['0','0','0','0']"
                         data-paddingbottom="['0','0','0','0']"
                         data-paddingleft="['0','0','0','0']"
                         data-marginleft="['0','0','0','0']"

                    >Terre d'Afrique</div>
                    <div class="tp-caption jost textLayer"
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']"

                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['-37','-37','-17','0']"

                         data-fontsize="['90','90','65','45']"
                         data-fontweight="['400','400','400','400']"
                         data-lineheight="['102','102','77','57']"
                         data-width="['700','700','100%','100%']"
                         data-height="none"
                         data-whitespace="normal"
                         data-color="['#ffffff','#ffffff','#ffffff','#ffffff']"

                         data-type="text"
                         data-responsive_offset="off"

                         data-frames='[{"delay":1200,"speed":500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"power4.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'

                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="['0','0','0','0']"
                         data-paddingright="['0','0','30','30']"
                         data-paddingbottom="['0','0','0','0']"
                         data-paddingleft="['0','0','30','30']"
                         data-marginleft="['0','0','0','0']"

                    >Sacs</div>
                    <div class="tp-caption ws_nowrap textLayer"
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']"

                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['144','144','134','80']"

                         data-fontsize="16"
                         data-fontweight="500"
                         data-lineheight="55"
                         data-width="['auto','auto','100%','100%']"
                         data-height="auto"
                         data-whitesapce="normal"
                         data-color="#FFFFFF"

                         data-type="text"
                         data-responsive_offset="off"

                         data-frames='[{"delay":1300,"speed":600,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"power4.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'

                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="['0','0','0','0']"
                         data-paddingright="['0','0','0','0']"
                         data-paddingbottom="['0','0','0','0']"
                         data-paddingleft="['0','0','0','0']"

                    ><a class="ulinaBTN ulinaSliderBTN text-capitalize" href="shop_left_sidebar.html"><span>Voir détails</span></a>
                    </div>
                </li>
                <li data-index="rs-3048" data-transition="random-premium" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1000"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <img src="images/slider/04.jpg"  alt="Souq Slider"  data-bgposition="left center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="0" class="rev-slidebg" data-no-retina/>
                    <div class="tp-caption jost"
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']"

                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['-165','-165','-145','-50']"

                         data-fontsize="['21','21','21','21']"
                         data-fontweight="['500','500','500','500']"
                         data-lineheight="['21','21','21','21']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-color="['#ffffff','#ffffff','#ffffff','#ffffff']"

                         data-type="text"
                         data-responsive_offset="off"

                         data-frames='[{"delay":1100,"speed":400,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"power4.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'

                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="['0','0','0','0']"
                         data-paddingright="['0','0','0','0']"
                         data-paddingbottom="['0','0','0','0']"
                         data-paddingleft="['0','0','0','0']"
                         data-marginleft="['0','0','0','0']"

                    >SUMMER SALE IS ON</div>
                    <div class="tp-caption jost textLayer"
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']"

                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['-37','-37','-17','0']"

                         data-fontsize="['90','90','65','45']"
                         data-fontweight="['400','400','400','400']"
                         data-lineheight="['102','102','77','57']"
                         data-width="['700','700','100%','100%']"
                         data-height="none"
                         data-whitespace="normal"
                         data-color="['#ffffff','#ffffff','#ffffff','#ffffff']"

                         data-type="text"
                         data-responsive_offset="off"

                         data-frames='[{"delay":1200,"speed":500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"power4.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'

                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="['0','0','0','0']"
                         data-paddingright="['0','0','30','30']"
                         data-paddingbottom="['0','0','0','0']"
                         data-paddingleft="['0','0','30','30']"
                         data-marginleft="['0','0','0','0']"

                    >Discover Women’s Fashion Trend</div>
                    <div class="tp-caption ws_nowrap textLayer"
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']"

                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['144','144','134','80']"

                         data-fontsize="16"
                         data-fontweight="500"
                         data-lineheight="55"
                         data-width="['auto','auto','100%','100%']"
                         data-height="auto"
                         data-whitesapce="normal"
                         data-color="#FFFFFF"

                         data-type="text"
                         data-responsive_offset="off"

                         data-frames='[{"delay":1300,"speed":600,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"power4.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'

                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="['0','0','0','0']"
                         data-paddingright="['0','0','0','0']"
                         data-paddingbottom="['0','0','0','0']"
                         data-paddingleft="['0','0','0','0']"

                    ><a class="ulinaBTN ulinaSliderBTN text-capitalize" href="shop_left_sidebar.html"><span>Voir détails</span></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="featureSection">
    <div class="container">
        <div class="row">

        </div>
    </div>
</section>

<section class="latestArrivalSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="secTitle">En promotion</h2>
                <p class="secDesc">Nos nouveautés </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="productCarousel owl-carousel">
                    <div class="productItem01">
                        <div class="pi01Thumb">
                            <img src="images/sac/23.jpg" alt="Ulina Product"/>
                            <img src="images/sac/23-2.jpg" alt="Ulina Product"/>
                            <div class="pi01Actions">
                                <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                <a href="javascript:void(0);" class="pi01QuickView"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                <a href="javascript:void(0);" class="pi01Wishlist"><i class="fa-solid fa-heart"></i></a>
                            </div>
                            <div class="productLabels clearfix">
                                <span class="plDis">Promo</span>
                                <span class="plSale">Nouveau</span>
                            </div>
                        </div>
                        <div class="pi01Details">

                            <h3><a href="javascript:void(0);">Sac bleu</a></h3>
                            <div class="pi01Price">
                                <ins>40.000 FCFA</ins>
                                <del>50.000 FCFA</del>
                            </div>
                        </div>
                    </div>
                    <div class="productItem01 ">
                        <div class="pi01Thumb">
                            <img src="images/sac/24.jpg" alt="Ulina Product"/>
                            <img src="images/sac/24-2.jpg" alt="Ulina Product"/>
                            <div class="pi01Actions">
                                <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                <a href="javascript:void(0);" class="pi01QuickView"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                <a href="javascript:void(0);" class="pi01Wishlist"><i class="fa-solid fa-heart"></i></a>
                            </div>
                            <div class="productLabels clearfix">
                                <span class="plHot">Promo</span>
                            </div>
                        </div>
                        <div class="pi01Details">
                            <h3><a href="javascript:void(0);">Sac rafia</a></h3>
                            <div class="pi01Price">
                                <ins>45.000 FCFA</ins>
                                <del>50.000 FCFA</del>
                            </div>

                        </div>
                    </div>
                    <div class="productItem01 ">
                        <div class="pi01Thumb">
                            <img src="images/sac/12.jpg" alt="Ulina Product"/>
                            <img src="images/sac/26-2.jpg" alt="Ulina Product"/>
                            <div class="pi01Actions">
                                <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                <a href="javascript:void(0);" class="pi01QuickView"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                <a href="javascript:void(0);" class="pi01Wishlist"><i class="fa-solid fa-heart"></i></a>
                            </div>
                            <div class="productLabels clearfix">
                                <span class="plNew float-end">Nouveau</span>
                            </div>
                        </div>
                        <div class="pi01Details">
                            <h3><a href="javascript:void(0);">Colier </a></h3>
                            <div class="pi01Price">
                                <ins>25.000 FCFA</ins>
                            </div>

                        </div>
                    </div>
                    <div class="productItem01 pi01NoRating">
                        <div class="pi01Thumb">
                            <img src="images/sac/11.jpg" alt="Ulina Product"/>
                            <img src="images/sac/26-2.jpg" alt="Ulina Product"/>
                            <div class="pi01Actions">
                                <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                <a href="javascript:void(0);" class="pi01QuickView"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                <a href="javascript:void(0);" class="pi01Wishlist"><i class="fa-solid fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi01Details">
                            <h3><a href="javascript:void(0);">Sac à main</a></h3>
                            <div class="pi01Price">
                                <ins>35.000 FCFA</ins>
                            </div>

                        </div>
                    </div>
                    <div class="productItem01">
                        <div class="pi01Thumb">
                            <img src="images/sac/10.jpg" alt="Ulina Product"/>
                            <img src="images/sac/08.jpg" alt="Ulina Product"/>
                            <div class="pi01Actions">
                                <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                <a href="javascript:void(0);" class="pi01QuickView"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                <a href="javascript:void(0);" class="pi01Wishlist"><i class="fa-solid fa-heart"></i></a>
                            </div>
                            <div class="productLabels clearfix">
                                <span class="plDis">Promo</span>
                            </div>
                        </div>
                        <div class="pi01Details">
                            <h3><a href="javascript:void(0);">Colier</a></h3>
                            <div class="pi01Price">
                                <ins>15.000</ins>
                            </div>
                        </div>
                    </div>
                    <div class="productItem01">
                        <div class="pi01Thumb">
                            <img src="images/sac/26.jpg" alt="Ulina Product"/>
                            <img src="images/sac/26-2.jpg" alt="Ulina Product"/>
                            <div class="pi01Actions">
                                <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                <a href="javascript:void(0);" class="pi01QuickView"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                <a href="javascript:void(0);" class="pi01Wishlist"><i class="fa-solid fa-heart"></i></a>
                            </div>
                            <div class="productLabels clearfix">
                                <span class="plNew float-end">Nouveauté</span>
                            </div>
                        </div>
                        <div class="pi01Details">
                            <h3><a href="javascript:void(0);">Sac</a></h3>
                            <div class="pi01Price">
                                <ins>47.000 FCFA</ins>
                                <del>50.000 FCFA</del>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="dealProductSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="dealProductContent">
                    <h5>By Cha Kane</h5>
                    <h2>Terre d'Afrique</h2>
                    <p>
                        "<strong>Terre d'Afrique</strong>" est une collection d'accessoires créée à base de pagnes tissés provenant
                        provenant de différentes régions de l'Afrique et principalement de la Côte d'Ivoire
                        <strong>(pagne sénoufou du nord, pagne baoulé du centre et pagne yacouba de l'ouest)</strong>
                    </p>
                    <div class="dpcPriceWrap">
                        <a href="javascript:void(0);" class="ulinaBTN"><span>La collection</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="dealProductImage">
                    <img src="images/collection/collection.png" alt="Ulima Fashionable Jeans"/>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="popularProductsSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="secTitle">En boutique</h2>
                <p class="secDesc">Articles et accessoires en boutique</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="productTabs">
                    <ul class="nav productTabsNav absolutes" id="productTab" role="tablist">
                        <li role="presentation">
                            <button class="active" id="men-tab" data-bs-toggle="tab" data-bs-target="#men-tab-pane" type="button" role="tab" aria-controls="men-tab-pane" aria-selected="true">Femmes</button>
                        </li>
                        <li role="presentation">
                            <button id="women-tab" data-bs-toggle="tab" data-bs-target="#women-tab-pane" type="button" role="tab" aria-controls="women-tab-pane" aria-selected="false">Hommes</button>
                        </li>
                        <li role="presentation">
                            <button id="accessories-tab" data-bs-toggle="tab" data-bs-target="#accessories-tab-pane" type="button" role="tab" aria-controls="accessories-tab-pane" aria-selected="false">Accessoires</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="productTabContent">
                        <div class="tab-pane fade show active" id="men-tab-pane" role="tabpanel" aria-labelledby="men-tab" tabindex="0">
                            <div class="row">
                                <div class="col-sm-6 col-lg-4 col-xl-3">
                                    <div class="productItem01">
                                        <div class="pi01Thumb">
                                            <img src="images/produits/35.jpg" alt="Ulina Product"/>
                                            <img src="images/produits/35-2.jpg" alt="Ulina Product"/>
                                            <div class="pi01Actions">
                                                <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                                <a href="javascript:void(0);" class="pi01QuickView"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                                <a href="javascript:void(0);" class="pi01Wishlist"><i class="fa-solid fa-heart"></i></a>
                                            </div>
                                            <div class="productLabels clearfix">
                                                <span class="plDis">Promotion</span>
                                                <span class="plSale">nouveauté</span>
                                            </div>
                                        </div>
                                        <div class="pi01Details">
                                            <h3><a href="shop_details2.html">Femme robe 1</a></h3>
                                            <div class="pi01Price">
                                                <ins>35.000 FCFA</ins>
                                                <del>40.000 FCFA</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 col-xl-3">
                                    <div class="productItem01">
                                        <div class="pi01Thumb">
                                            <img src="images/produits/34.jpg" alt="Ulina Product"/>
                                            <img src="images/produits/34.jpg" alt="Ulina Product"/>
                                            <div class="pi01Actions">
                                                <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                                <a href="javascript:void(0);" class="pi01QuickView"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                                <a href="javascript:void(0);" class="pi01Wishlist"><i class="fa-solid fa-heart"></i></a>
                                            </div>
                                            <div class="productLabels clearfix">
                                                <span class="plNew float-end">Nouveauté</span>
                                            </div>
                                        </div>
                                        <div class="pi01Details">
                                            <h3><a href="shop_details1.html">Femme robe 2</a></h3>
                                            <div class="pi01Price">
                                                <ins>15.000 FCFA</ins>
                                                <del>25.000 FCFA</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 col-xl-3">
                                    <div class="productItem01 pi01NoRating">
                                        <div class="pi01Thumb">
                                            <img src="images/produits/36-2.jpg" alt="Ulina Product"/>
                                            <img src="images/produits/36.jpg" alt="Ulina Product"/>
                                            <div class="pi01Actions">
                                                <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                                <a href="javascript:void(0);" class="pi01QuickView"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                                <a href="javascript:void(0);" class="pi01Wishlist"><i class="fa-solid fa-heart"></i></a>
                                            </div>
                                            <div class="productLabels clearfix">
                                                <span class="plDis">Promotion</span>
                                            </div>
                                        </div>
                                        <div class="pi01Details">
                                            <h3><a href="shop_details2.html">Femme robe 3</a></h3>
                                            <div class="pi01Price">
                                                <ins>25.000 FCFA</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 col-xl-3">
                                    <div class="productItem01">
                                        <div class="pi01Thumb">
                                            <img src="images/produits/37-2.jpg" alt="Ulina Product"/>
                                            <img src="images/produits/37.jpg" alt="Ulina Product"/>
                                            <div class="pi01Actions">
                                                <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                                <a href="javascript:void(0);" class="pi01QuickView"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                                <a href="javascript:void(0);" class="pi01Wishlist"><i class="fa-solid fa-heart"></i></a>
                                            </div>
                                        </div>
                                        <div class="pi01Details">
                                            <h3><a href="shop_details2.html">Femme robe 4</a></h3>
                                            <div class="pi01Price">
                                                <ins>25.000 FCFA</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 col-xl-3">
                                    <div class="productItem01 pi01NoRating">
                                        <div class="pi01Thumb">
                                            <img src="images/produits/38-2.jpg" alt="Ulina Product"/>
                                            <img src="images/produits/38.jpg" alt="Ulina Product"/>
                                            <div class="pi01Actions">
                                                <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                                <a href="javascript:void(0);" class="pi01QuickView"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                                <a href="javascript:void(0);" class="pi01Wishlist"><i class="fa-solid fa-heart"></i></a>
                                            </div>
                                            <div class="productLabels clearfix">
                                                <span class="plHot float-end">Stock</span>
                                            </div>
                                        </div>
                                        <div class="pi01Details">
                                            <h3><a href="shop_details1.html">Femme robe 5</a></h3>
                                            <div class="pi01Price">
                                                <ins>25.000 FCFA</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 col-xl-3">
                                    <div class="productItem01">
                                        <div class="pi01Thumb">
                                            <img src="images/produits/39-2.jpg" alt="Ulina Product"/>
                                            <img src="images/produits/39.jpg" alt="Ulina Product"/>
                                            <div class="pi01Actions">
                                                <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                                <a href="javascript:void(0);" class="pi01QuickView"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                                <a href="javascript:void(0);" class="pi01Wishlist"><i class="fa-solid fa-heart"></i></a>
                                            </div>
                                        </div>
                                        <div class="pi01Details">
                                            <h3><a href="shop_details2.html">Femme robe 6</a></h3>
                                            <div class="pi01Price">
                                                <ins>25.000 FCFA</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 col-xl-3">
                                    <div class="productItem01">
                                        <div class="pi01Thumb">
                                            <img src="images/produits/40-2.jpg" alt="Ulina Product"/>
                                            <img src="images/produits/40.jpg" alt="Ulina Product"/>
                                            <div class="pi01Actions">
                                                <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                                <a href="javascript:void(0);" class="pi01QuickView"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                                <a href="javascript:void(0);" class="pi01Wishlist"><i class="fa-solid fa-heart"></i></a>
                                            </div>
                                            <div class="productLabels clearfix">
                                                <span class="plSale float-end">Vendue</span>
                                            </div>
                                        </div>
                                        <div class="pi01Details">
                                            <h3><a href="shop_details1.html">Femme robe 7</a></h3>
                                            <div class="pi01Price">
                                                <ins>25.000 FCFA</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 col-xl-3">
                                    <div class="productItem01 pi01NoRating">
                                        <div class="pi01Thumb">
                                            <img src="images/produits/41-2.jpg" alt="Ulina Product"/>
                                            <img src="images/produits/41.jpg" alt="Ulina Product"/>
                                            <div class="pi01Actions">
                                                <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                                <a href="javascript:void(0);" class="pi01QuickView"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                                <a href="javascript:void(0);" class="pi01Wishlist"><i class="fa-solid fa-heart"></i></a>
                                            </div>
                                        </div>
                                        <div class="pi01Details">
                                            <h3><a href="shop_details2.html">Femme robe 8</a></h3>
                                            <div class="pi01Price">
                                                <ins>25.000 FCFA</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="women-tab-pane" role="tabpanel" aria-labelledby="women-tab" tabindex="0">
                            <div class="row">
                                <div class="col-sm-6 col-lg-4 col-xl-3">
                                    <div class="productItem01 pi01NoRating">
                                        <div class="pi01Thumb">
                                            <img src="images/produits/59.jpg" alt="Ulina Product"/>
                                            <img src="images/produits/59.jpg" alt="Ulina Product"/>
                                            <div class="pi01Actions">
                                                <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                                <a href="javascript:void(0);" class="pi01QuickView"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                                <a href="javascript:void(0);" class="pi01Wishlist"><i class="fa-solid fa-heart"></i></a>
                                            </div>
                                            <div class="productLabels clearfix">
                                                <span class="plHot float-end">Vente</span>
                                            </div>
                                        </div>
                                        <div class="pi01Details">
                                            <h3><a href="shop_details1.html">Homme chemise 1</a></h3>
                                            <div class="pi01Price">
                                                <ins>10.000 FCFA</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 col-xl-3">
                                    <div class="productItem01">
                                        <div class="pi01Thumb">
                                            <img src="images/produits/60.jpg" alt="Ulina Product"/>
                                            <img src="images/produits/60.jpg" alt="Ulina Product"/>
                                            <div class="pi01Actions">
                                                <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                                <a href="javascript:void(0);" class="pi01QuickView"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                                <a href="javascript:void(0);" class="pi01Wishlist"><i class="fa-solid fa-heart"></i></a>
                                            </div>
                                        </div>
                                        <div class="pi01Details">
                                            <h3><a href="shop_details2.html">Homme chemise 2</a></h3>
                                            <div class="pi01Price">
                                                <ins>10.000 FCFA</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 col-xl-3">
                                    <div class="productItem01">
                                        <div class="pi01Thumb">
                                            <img src="images/produits/61.jpg" alt="Ulina Product"/>
                                            <img src="images/produits/61.jpg" alt="Ulina Product"/>
                                            <div class="pi01Actions">
                                                <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                                <a href="javascript:void(0);" class="pi01QuickView"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                                <a href="javascript:void(0);" class="pi01Wishlist"><i class="fa-solid fa-heart"></i></a>
                                            </div>
                                            <div class="productLabels clearfix">
                                                <span class="plSale float-end">Vendu</span>
                                            </div>
                                        </div>
                                        <div class="pi01Details">
                                            <h3><a href="shop_details1.html">Homme chemise 3</a></h3>
                                            <div class="pi01Price">
                                                <ins>7.000 FCFA</ins>
                                                <del>10.000 FCFA</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 col-xl-3">
                                    <div class="productItem01 pi01NoRating">
                                        <div class="pi01Thumb">
                                            <img src="images/produits/62.jpg" alt="Ulina Product"/>
                                            <img src="images/produits/62.jpg" alt="Ulina Product"/>
                                            <div class="pi01Actions">
                                                <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                                <a href="javascript:void(0);" class="pi01QuickView"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                                <a href="javascript:void(0);" class="pi01Wishlist"><i class="fa-solid fa-heart"></i></a>
                                            </div>
                                        </div>
                                        <div class="pi01Details">
                                            <h3><a href="shop_details2.html">Homme chemise 4</a></h3>
                                            <div class="pi01Price">
                                                <ins>10.000 FCFA</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 col-xl-3">
                                    <div class="productItem01">
                                        <div class="pi01Thumb">
                                            <img src="images/produits/62.jpg" alt="Ulina Product"/>
                                            <img src="images/produits/62.jpg" alt="Ulina Product"/>
                                            <div class="pi01Actions">
                                                <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                                <a href="javascript:void(0);" class="pi01QuickView"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                                <a href="javascript:void(0);" class="pi01Wishlist"><i class="fa-solid fa-heart"></i></a>
                                            </div>
                                            <div class="productLabels clearfix">
                                                <span class="plDis">Promotion</span>
                                                <span class="plSale">Nouveauté</span>
                                            </div>
                                        </div>
                                        <div class="pi01Details">
                                            <h3><a href="shop_details2.html">Homme chemise 5</a></h3>
                                            <div class="pi01Price">
                                                <ins>10.000 FCFA</ins>
                                                <del>15.000 FCFA</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 col-xl-3">
                                    <div class="productItem01">
                                        <div class="pi01Thumb">
                                            <img src="images/produits/61.jpg" alt="Ulina Product"/>
                                            <img src="images/produits/61.jpg" alt="Ulina Product"/>
                                            <div class="pi01Actions">
                                                <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                                <a href="javascript:void(0);" class="pi01QuickView"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                                <a href="javascript:void(0);" class="pi01Wishlist"><i class="fa-solid fa-heart"></i></a>
                                            </div>
                                            <div class="productLabels clearfix">
                                                <span class="plNew float-end">Nouveauté</span>
                                            </div>
                                        </div>
                                        <div class="pi01Details">
                                            <h3><a href="shop_details1.html">Homme chemise 6</a></h3>
                                            <div class="pi01Price">
                                                <ins>10.000 FCFA</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 col-xl-3">
                                    <div class="productItem01 pi01NoRating">
                                        <div class="pi01Thumb">
                                            <img src="images/produits/60.jpg" alt="Ulina Product"/>
                                            <img src="images/produits/60.jpg" alt="Ulina Product"/>
                                            <div class="pi01Actions">
                                                <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                                <a href="javascript:void(0);" class="pi01QuickView"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                                <a href="javascript:void(0);" class="pi01Wishlist"><i class="fa-solid fa-heart"></i></a>
                                            </div>
                                            <div class="productLabels clearfix">
                                                <span class="plDis">vendue</span>
                                            </div>
                                        </div>
                                        <div class="pi01Details">
                                            <h3><a href="shop_details2.html">Homme chemise 7</a></h3>
                                            <div class="pi01Price">
                                                <ins>10.000 FCFA</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 col-xl-3">
                                    <div class="productItem01">
                                        <div class="pi01Thumb">
                                            <img src="images/produits/59.jpg" alt="Ulina Product"/>
                                            <img src="images/produits/59.jpg" alt="Ulina Product"/>
                                            <div class="pi01Actions">
                                                <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                                <a href="javascript:void(0);" class="pi01QuickView"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                                <a href="javascript:void(0);" class="pi01Wishlist"><i class="fa-solid fa-heart"></i></a>
                                            </div>
                                        </div>
                                        <div class="pi01Details">
                                            <h3><a href="shop_details2.html">Homme chemise 8</a></h3>
                                            <div class="pi01Price">
                                                <ins>10.000 FCFA</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="accessories-tab-pane" role="tabpanel" aria-labelledby="accessories-tab" tabindex="0">
                            <div class="row">
                                <div class="col-sm-6 col-lg-4 col-xl-3">
                                    <div class="productItem01 pi01NoRating">
                                        <div class="pi01Thumb">
                                            <img src="images/produits/44-2.jpg" alt="Ulina Product"/>
                                            <img src="images/produits/44.jpg" alt="Ulina Product"/>
                                            <div class="pi01Actions">
                                                <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                                <a href="javascript:void(0);" class="pi01QuickView"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                                <a href="javascript:void(0);" class="pi01Wishlist"><i class="fa-solid fa-heart"></i></a>
                                            </div>
                                            <div class="productLabels clearfix">
                                                <span class="plDis">Promotion</span>
                                            </div>
                                        </div>
                                        <div class="pi01Details">
                                            <h3><a href="javascript:void(0);">Accessoire chapeau 1</a></h3>
                                            <div class="pi01Price">
                                                <ins>5.000 FCFA</ins>
                                                <del>10.000 FCFA</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 col-xl-3">
                                    <div class="productItem01">
                                        <div class="pi01Thumb">
                                            <img src="images/produits/45-2.jpg" alt="Ulina Product"/>
                                            <img src="images/produits/45-2.jpg" alt="Ulina Product"/>
                                            <div class="pi01Actions">
                                                <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                                <a href="javascript:void(0);" class="pi01QuickView"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                                <a href="javascript:void(0);" class="pi01Wishlist"><i class="fa-solid fa-heart"></i></a>
                                            </div>
                                        </div>
                                        <div class="pi01Details">
                                            <h3><a href="javascript:void(0);">Accessoires chapeau 2</a></h3>
                                            <div class="pi01Price">
                                                <ins>10.000 FCFA</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 col-xl-3">
                                    <div class="productItem01">
                                        <div class="pi01Thumb">
                                            <img src="images/produits/53-2.jpg" alt="Ulina Product"/>
                                            <img src="images/produits/53.jpg" alt="Ulina Product"/>
                                            <div class="pi01Actions">
                                                <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                                <a href="javascript:void(0);" class="pi01QuickView"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                                <a href="javascript:void(0);" class="pi01Wishlist"><i class="fa-solid fa-heart"></i></a>
                                            </div>
                                            <div class="productLabels clearfix">
                                                <span class="plNew float-end">Nouveauté</span>
                                            </div>
                                        </div>
                                        <div class="pi01Details">
                                            <h3><a href="javascript:void(0);">Accessoire chapeau 3</a></h3>
                                            <div class="pi01Price">
                                                <ins>10.000 FCFA</ins>
                                                <del>15.000 FCFA</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 col-xl-3">
                                    <div class="productItem01">
                                        <div class="pi01Thumb">
                                            <img src="images/produits/55-2.jpg" alt="Ulina Product"/>
                                            <img src="images/produits/55.jpg" alt="Ulina Product"/>
                                            <div class="pi01Actions">
                                                <a href="javascript:void(0);" class="pi01Cart"><i class="fa-solid fa-shopping-cart"></i></a>
                                                <a href="javascript:void(0);" class="pi01QuickView"><i class="fa-solid fa-arrows-up-down-left-right"></i></a>
                                                <a href="javascript:void(0);" class="pi01Wishlist"><i class="fa-solid fa-heart"></i></a>
                                            </div>
                                        </div>
                                        <div class="pi01Details">
                                            <h3><a href="javascript:void(0);">Accesoire chapeau 4</a></h3>
                                            <div class="pi01Price">
                                                <ins>11.000 FCFA</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="lookbookSection2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="lookBook01 lb01M6 overLayAnim02">
                    <div class="lbContent">
                        <h3>Cas 1</h3>
                        <h2>Même région</h2>
                        <a href="javascript:void(0);" class="ulinaLink"><i class="fa-solid fa-angle-right"></i>Acheter</a>
                    </div>
                    <img src="images/collection/collection_01.png" alt="Women’s New Collection">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="lookBook01 lb01M6 overLayAnim02">
                    <div class="lbContent">
                        <h3>Cas 2</h3>
                        <h2>Différentes régions</h2>
                        <a href="javascript:void(0);" class="ulinaLink"><i class="fa-solid fa-angle-right"></i>Acheter</a>
                    </div>
                    <img src="images/collection/collection_02.png" alt="Men’s Trendy Fashion">
                </div>
            </div>
        </div>
    </div>
</section>



<section class="instagramSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="secTitle">Festival   </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="instagramSlider owl-carousel">
                    <a href="images/photos/01.jpg" class="instagramPhoto imgPopup">
                        <img src="images/photos/01_f.jpg" alt="Ulina Instagram"/>
                    </a>
                    <a href="images/photos/02.jpg" class="instagramPhoto imgPopup">
                        <img src="images/photos/02_f.jpg" alt="Ulina Instagram"/>
                    </a>
                    <a href="images/photos/03.jpg" class="instagramPhoto imgPopup">
                        <img src="images/photos/03_f.jpg" alt="Ulina Instagram"/>
                    </a>
                    <a href="images/photos/04.jpg" class="instagramPhoto imgPopup">
                        <img src="images/photos/04_f.jpg" alt="Ulina Instagram"/>
                    </a>
                    <a href="images/photos/05.jpg" class="instagramPhoto imgPopup">
                        <img src="images/photos/05_f.jpg" alt="Ulina Instagram"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- BEGIN: Footer Section -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <aside class="widget aboutWidget">
                    <div class="footerLogo">
                        <a href="index.html"><img src="images/logo_02.png" alt="Terre d'Afrique"/></a>
                    </div>
                    <div class="aboutWidContent">
                        "Terre d'Afrique" est une collection d'accessoires créée à base de pagnes tissés.
                    </div>
                    <div class="subscribForm">
                        <form method="post" action="#">
                            <input type="email" name="subsEmail" placeholder="Adresse e-mail"/>
                            <button type="submit"><i class="fa-solid fa-envelope"></i></button>
                        </form>
                    </div>
                </aside>
            </div>
            <div class="col-lg-3 col-md-6">
                <aside class="widget">
                    <h3 class="widgetTitle">Address</h3>
                    <div class="addressContent">
                        <div class="singleAddress">
                            <i class="fa-solid fa-location-dot"></i>
                            Cocody Riviéra 2 Sogefia
                            Ville 240 en face de la cité universitaire
                        </div>
                        <div class="singleAddress">
                            <i class="fa-solid fa-phone"></i>
                            +225 27 22 51 67 56 / 07 59 53 59 51
                        </div>
                        <div class="singleAddress">
                            <i class="fa-solid fa-envelope"></i>
                            <a href="mailto:info@terredafrique.com">info@terredafrique.com</a>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-lg-2 col-md-6">
                <aside class="widget">
                    <h3 class="widgetTitle">Rubriques</h3>
                    <ul>
                        <li><a href="javascript:void(0);">La marque</a></li>
                        <li><a href="javascript:void(0);">Les collections</a></li>
                        <li><a href="javascript:void(0);">Contact</a></li>
                        <li><a href="javascript:void(0);"></a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-lg-3 col-md-6">
                <aside class="widget twoColMenu">
                    <h3 class="widgetTitle">Vêtements</h3>
                    <ul>
                        <li><a href="javascript:void(0);">Femmes</a></li>
                        <li><a href="javascript:void(0);">Hommes</a></li>
                        <li><a href="javascript:void(0);">Filles</a></li>
                        <li><a href="javascript:void(0);">Garçons</a></li>
                        <li><a href="javascript:void(0);">Sacs</a></li>
                        <li><a href="javascript:void(0);">Accessoires</a></li>
                        <li><a href="javascript:void(0);"></a></li>
                        <li><a href="javascript:void(0);"> </a></li>
                    </ul>
                </aside>
            </div>
        </div>
        <div class="row footerAccessRow">
            <div class="col-md-6">
                <div class="footerSocial">
                    <a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a>
                    <a href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
            <!--<div class="col-md-6">
                <div class="footerPayments">
                    <a href="javascript:void(0);"><i class="fa-brands fa-cc-paypal"></i></a>
                    <a href="javascript:void(0);"><i class="fa-brands fa-cc-stripe"></i></a>
                    <a href="javascript:void(0);"><i class="fa-brands fa-cc-mastercard"></i></a>
                    <a href="javascript:void(0);"><i class="fa-brands fa-cc-visa"></i></a>
                    <a href="javascript:void(0);"><i class="fa-brands fa-cc-apple-pay"></i></a>
                    <a href="javascript:void(0);"><i class="fa-brands fa-cc-amazon-pay"></i></a>
                </div>
            </div>-->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footerBar"></div>
            </div>
        </div>
    </div>
</footer>

<section class="siteInfoSection">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="siteInfo">
                    Tous droits réservés  &nbsp;<a href="index.html">Terre d'AFrique</a>&nbsp;&nbsp;&copy;&nbsp;&nbsp;2022
                </div>
            </div>
            <div class="col-md-7">
                <div class="footerNav">
                    <ul>
                        <li><a href="javascript:void(0);">Conditions d'utilisation</a></li>
                        <li><a href="javascript:void(0);">Politique de confidentialité</a></li>
                        <li><a href="javascript:void(0);">Mention légale</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<a href="javascript:void(0);" id="backtotop"><i class="fa-solid fa-angles-up"></i></a>

<div class="modal fade productQuickView" id="productQuickView" tabindex="-1" data-aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="quickViewCloser" data-bs-dismiss="modal" aria-label="Close"><span></span></button>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="productGalleryWrap">
                            <div class="productGalleryPopup">
                                <div class="pgImage">
                                    <img src="images/sac/24-2.jpg" alt="Product Image"/>
                                </div>
                                <div class="pgImage">
                                    <img src="images/sac/24.jpg" alt="Product Image"/>
                                </div>
                                <div class="pgImage">
                                    <img src="images/sac/25-2.jpg" alt="Product Image"/>
                                </div>
                                <div class="pgImage">
                                    <img src="images/sac/25.jpg" alt="Product Image"/>
                                </div>
                                <div class="pgImage">
                                    <img src="images/sac/23.jpg" alt="Product Image"/>
                                </div>
                            </div>
                            <div class="productGalleryThumbWrap">
                                <div class="productGalleryThumbPopup">
                                    <div class="pgtImage">
                                        <img src="images/sac/24-2.jpg" alt="Product Image"/>
                                    </div>
                                    <div class="pgtImage">
                                        <img src="images/sac/24.jpg" alt="Product Image"/>
                                    </div>
                                    <div class="pgtImage">
                                        <img src="images/sac/25-2.jpg" alt="Product Image"/>
                                    </div>
                                    <div class="pgtImage">
                                        <img src="images/sac/25.jpg" alt="Product Image"/>
                                    </div>
                                    <div class="pgtImage">
                                        <img src="images/sac/23.jpg" alt="Product Image"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="productContent">
                            <div class="pcCategory">
                                <a href="javascript:void(0);">Accessoires</a>, <a href="javascript:void(0);">Sac</a>
                            </div>
                            <h2><a href="javascript:void(0);">Sac 1</a></h2>
                            <div class="pi01Price">
                                <ins>10.000 FCFA</ins>
                                <del>20.000 FCFA</del>
                            </div>
                            <div class="pcExcerpt">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusncididunt ut labo re et dolore magna aliqua. Ut enim ad minim
                                veniam
                            </div>
                            <div class="pcBtns">
                                <div class="quantity clearfix">
                                    <button type="button" name="btnMinus" class="qtyBtn btnMinus">_</button>
                                    <input type="number" class="carqty input-text qty text" name="quantity" value="01">
                                    <button type="button" name="btnPlus" class="qtyBtn btnPlus">+</button>
                                </div>
                                <button type="submit" class="ulinaBTN"><span>Ajouter au panier</span></button>
                            </div>
                            <div class="pcMeta">
                                <p>
                                    <span>Reférence</span>
                                    <a href="javascript:void(0);">3489 JE0765</a>
                                </p>
                                <p class="pcmTags">
                                    <span>Tags:</span>
                                    <a href="javascript:void(0);">Accessoires</a>, <a href="javascript:void(0);">Sacs</a>, <a href="javascript:void(0);">Femme</a>
                                </p>
                                <p class="pcmSocial">
                                    <span>Partager</span>
                                    <a class="fac" href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a class="twi" href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a>
                                    <a class="lin" href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a>
                                    <a class="ins" href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('assets/js/jquery.js') }}"></script>
<script src="{{ asset('assets/js/jquery-ui.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/shuffle.min.js') }}"></script>
<script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('assets/js/owl.carousel.filter.js') }}"></script>
<script src="{{ asset('assets/js/jquery.appear.js') }}"></script>
<script src="{{ asset('assets/js/lightcase.js') }}"></script>
<script src="{{ asset('assets/js/jquery.nice-select.js') }}"></script>
<script src="{{ asset('assets/js/slick.js') }}"></script>
<script src="{{ asset('assets/js/jquery.plugin.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.countdown.min.js') }}"></script>
<script src="{{ asset('assets/js/circle-progress.js') }}"></script>


<script src="{{ asset('assets/js/jquery.themepunch.tools.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.themepunch.revolution.min.js') }}"></script>

<script src="{{ asset('assets/js/extensions/revolution.extension.actions.min.js') }}"></script>
<script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('assets/js/extensions/revolution.extension.kenburn.min.js') }}"></script>
<script src="{{ asset('assets/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
<script src="{{ asset('assets/js/extensions/revolution.extension.migration.min.js') }}"></script>
<script src="{{ asset('assets/js/extensions/revolution.extension.navigation.min.js') }}"></script>
<script src="{{ asset('assets/js/extensions/revolution.extension.parallax.min.js') }}"></script>
<script src="{{ asset('assets/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
<script src="{{ asset('assets/js/extensions/revolution.extension.video.min.js') }}"></script>

<script src="{{ asset('assets/js/theme.js') }}"></script>
</body>

</html>